[Unit]
Description=Stellar Compliance Server

[Service]
Type=simple
ExecStart=/home/haseeb/stellar-servers/compliance-server/compliance
WorkingDirectory=/home/haseeb/stellar-servers/compliance-server
WatchdogSec=30s
Restart=on-failure

[Install]
WantedBy=multi-user.target
